.main {
  min-height: 100vh;
  padding: 1rem;
}

.main form {
  width: 250px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 0.5rem;
  padding: 1rem;
  flex: calc((100% - 3rem) / 3);
  flex-grow: 0;
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.selected {
  border-color: #0d6efd;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  opacity: 0.6;
}

.card h2 {
  margin-left: 1rem;
  margin-bottom: 0;
  font-weight: 600;
}

.card span {
  flex: 1;
}

.flexRow {
  display: flex;
  align-items: center;
}
